.container {
  width: 100%;
  height: 100%;
}

.container svg {
  display: block;
  width: 100%;
  height: 100%;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 110px;
  padding: 10px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}

circle {
  cursor: pointer;
}

.label {
  color: #eee;
  cursor: pointer;
}
