.address-relations-grid {
  display: grid;
  grid-template-columns: auto 0.2vw auto;
}

.address-relations-in {
  grid-column: 1 / 2;
}

.address-relations-divider {
  grid-column: 2 / 3;
  background-color: #eee;
}

.address-relations-out {
  grid-column: 3 / 4;
}

.address-relations-in-grid {
  padding-left: 1vw;
  padding-right: 1vw;
  display: grid;
}

.address-relations-out-grid {
  padding-left: 1vw;
  padding-right: 1vw;
  display: grid;
}

.address-relations-container {
  border-right: 0.2vw solid #eee;
  margin-top: 1vw;
}

.address-relations-container:last-of-type {
  border-right: none;
}

.address-relations-container ul:first-child {
  border-top: 0.2vw solid #eee;
  padding-top: 2vw;
}

.address-relations-container ul {
  padding-left: 1vw;
  text-align: left;
}

.address-relations-container li {
  display: grid;
  grid-template-columns: 30vw 0.2vw 5vw;
  list-style: none;
  font-size: 1.2vw;
  width: 0px;
}

.address-relation-link {
  grid-column: 1 / 2;
  margin-right: 4vw;
}

.address-relation-li-border {
  grid-column: 2 / 3;
  background-color: #eee;
}

.address-relation-value {
  grid-column: 3 / 4;
  margin-left: 4vw;
  color: #eee;
}

@media (min-width: 1000px) {
  .address-relations-grid {
    grid-template-columns: auto 2px auto;
  }
  .address-relations-grid {
    padding-left: 12px;
    padding-right: 12px;
  }
  .address-relations-container {
    border-right: 2px solid #eee;
    margin-top: 10px;
  }

  .address-relations-container ul:first-child {
    border-top: 2px solid #eee;
    padding-top: 20px;
  }

  .address-relations-container ul {
    padding-left: 10px;
  }
}

@media (min-width: 1300px) {
  .address-relations-container li {
    grid-template-columns: 450px 2px 5vw;
    font-size: 16px;
  }
}
