.transaction-relations-grid {
  padding-left: 1vw;
  padding-right: 1vw;
  display: grid;
}

.transaction-relations-container {
  border-right: 0.2vw solid #eee;
  margin-top: 1vw;
}

.transaction-relations-container:last-of-type {
  border-right: none;
}

.transaction-relations-container ul:first-child {
  border-top: 0.2vw solid #eee;
  padding-top: 2vw;
}

.transaction-relations-container ul {
  padding-left: 1vw;
  text-align: left;
}

.transaction-relations-container li {
  list-style: none;
  font-size: 2vw;
}

@media (min-width: 1000px) {
  .transaction-relations-grid {
    padding-left: 12px;
    padding-right: 12px;
  }
  .transaction-relations-container {
    border-right: 2px solid #eee;
    margin-top: 10px;
  }

  .transaction-relations-container ul:first-child {
    border-top: 2px solid #eee;
    padding-top: 20px;
  }

  .transaction-relations-container ul {
    padding-left: 10px;
  }

  .transaction-relations-container li {
    font-size: 16px;
  }
}
